Package: sharpfin-nanddump
Priority: optional
Version: 0.1
Architecture: arm
Maintainer: Sharpfin Project (http://www.sharpfin.org/)
Source: http://www.sharpfin.org/
Depends: sharpfin-base
Section: extras
Provides: nanddump_files
Description: sharpfin-nanddump contains the nanddump backup files.
 The nanddump utility is installed by default with the sharpfin-base package.
 .
 $Revision: 243 $
 .
