Package: sharpfin-ftpd
Priority: optional
Version:  0.1
Architecture: arm
Maintainer: Sharpfin Project (http://www.pschmidt.it/sharpfin/)
Source: http://www.pschmidt.it/sharpfin/gpl
Depends: sharpfin-base
Section: extras
Provides: ftpd_init
Description: ftpd_init contains the startup script for the FTP server
 .
 $Revision: 195 $
 .
