Package: sharpfin-www
Priority: optional
Version: 0.9
Architecture: arm
Maintainer: Sharpfin Project (http://www.sharpfin.org/)
Source: http://www.sharpfin.org
Depends: sharpfin-base sharpfin-httpd
Section: extras
Provides: webserver_files
Description: sharpfin-www contains the webserver files.
 The webserver is in the sharpfin-base package, and the init scripts are
 in the sharpfin-httpd package.
 .
 $Revision: 243 $
 .
