Package: sharpfin-base
Priority: optional
Version: 0.2-alpha20080510
Architecture: arm
Maintainer: Sharpfin Project (http://www.sharpfin.zevv.nl/)
Source: http://www.sharpfin.zevv.nl/gpl
Depends: libc6, reciva-kernel
Provides: httpd, login, telnetd, ftpd, rdate
Section: extras
Description: sharpfin-base contains the basic files required to run
 Sharpfin applications.  It includes /bin/sharpfin, which is a cutdown
 version of busybox, and provides the web server, login, ftpd,rdate
 and telnetd features.
 $Revision: 281 $
