Package: sharpfin-lircd
Priority: optional
Version:  0.2
Architecture: arm
Maintainer: Sharpfin Project (http://www.sharpfin.org/)
Source: http://www.sharpfin.org
Depends: sharpfin-base
Provides: lircd irsend
Section: extras
Description: sharpfin-lircd provides a lircd daemon needed for irsend and the irsend tool itself
 .
 $Revision: 293 $
